@charset "utf-8";
/* CSS Document */
.body {
	background: url(ivan.jpg) no-repeat;
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */
	}
.logpw {
padding-top:400px;
padding-left:700px;

	}
.signin {
	padding-left:75px;

	}

.container {
	
	max-width: 1260px;
	max-height: 780px;
	min-width: 1260px;
	min-height: 780px;
	
}

.left {
	float:left;
	width:250px;
	height:780px;
	background-color:#006600;
	
	}

.right {
	float:left;
	width:1010px;
	height:250px;
	background-color:#66FF00
}

.center {
	float:right;
	height:530px;
	width:1010px;
	background-color:#CC3399;
	
	}